<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>{{ title }}</title>
</head>
<body>
  {% if env == "development" %}
    <div class="dev">Development Mode</div>
  {%endif%}
  {% include "partials/header.njk" %}
  <main tabindex="-1">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.njk" %}
</body>
  <script src="/scripts/main.js"></script>
</html>
