/* General styles */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --purple: #6f00e0;
    --black: #131313;
    --magnolia: #fdf7ffff;
    --redwood: #b25347ff;
    --electric-green: #b8d479ff;
    --site-edge-margin: 1.5rem;
    --nav-element-margin: 0.8rem;
    --section-margin-top: 4rem;
    --main-side-margin: 4rem;
    --element-margin: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid red;
    background-color: var(--purple);
    width: 100%;
    overflow-y: scroll;
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    /* min-height: 100vh; */
    display: grid;
    grid-template-areas:
        'margin content menu'
        'footer footer menu'
        'bottom-margin bottom-margin bottom-margin';
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4fr 0.5fr 0.2fr;
}

body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    background-color: var(--black);
    color: var(--magnolia);
    width: fit-content;
}

ul {
    list-style: none;
}

a {
    color: var(--black);
}

/* End of General styles */

/* Layout styles */
main {
    border: 2px solid var(--magnolia);
    grid-area: content;
}

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.posts {
    border: 2px solid green;
}

.bookshelf {
    border: 2px solid brown;
}

/* End of Layout styles */

/* Reusable component styles */

header {
    grid-area: menu;
    border: 1px solid red;
}

footer {
    grid-area: footer;
    background-color: var(--black);
    color: var(--magnolia);
}

.card {
    border: var(--black);
}

.card h5 a {
    color: var(--magnolia);
}

/* End of Reusable component styles */

/* Page specific styles */

.bookshelf-item {
}

.exploration {
}

.thought {
}

.workbench {
    border: 2px solid red;
    display: grid;
    height: 100%;
}

/* End of Page specific styles */

/* Environment specific styles */

.dev {
    font-size: 0.75rem;
    background-color: var(--redwood);
    color: var(--magnolia);
    width: fit-content;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 4px;
}
/* End of Environment specific styles */
