<div class="card {{_cardType}} {% if _item.data.hasWhatIBroke %}exploration-broke{% endif %}">
    {% if _item.data %}
    <h5><a href="{{_item.url}}">{{_item.data.title}}</a></h5>
    {% if _item.data.status %}
    <p>Status: {{_item.data.status}}</p>
    {% endif %}
    {% if _item.data.tone %}
    <p>Tone: {{_item.data.tone}}</p>
    {% endif %}
    <p>Latest update: {{_item.data.latestUpdate | toStringDate}}</p>
    <p>Tags: {{_item.data.tags | join(", ")}}</p>
    {% else %}
    {# item is from bookshelf.json #}
        <h6>{{_item.title}}</h6>
        <p>{{_item.dateAdded}}</p>
        <p>{{_item.creator}}</p>
        <p>{{_item.year}}</p>
        <p>{{_item.description}}</p>
        <p>{{_item.externalURI}}</p>
        {% if _item.relatedThought %}
            <a href="{{_item.relatedThought}}">Read my thoughts on this</a>
        {% endif %}
{% endif %}
</div>
