<footer role="contentinfo">
            <nav class="footer-nav" aria-label="Secondary navigation">
                <ul>
                    <li><a href="https://github.com/islandskan">github</a></li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/sigridureggertsdottir/"
                            >linkedin</a
                        >
                    </li>
                </ul>
                <p>By islandskan/Sigridur Eggertsdotirr©2025.</p>
                <p>Made with 11ty.</p>
            </nav>
        </footer>
