        <header>
            <a href="/">islandskan</a>
            <nav>
                <ul>
                    <li>
                        <a href="/explorations/">Explorations</a>
                    </li>
                    <li><a href="/thoughts/">Thoughts</a></li>
                    <li><a href="/bookshelf/">Bookshelf</a></li>
                    <li><a href="/interrupts/">Interrupts</a></li>
                </ul>
            </nav>
        </header>
